[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pyarrow = "*"
pyyaml = "*"
pandas = "*"

[dev-packages]
ipykernel = "*"
pylint = "*"
moto = "*"
coverage = "*"
awscli = "*"

[requires]
python_version = "3.9"
